<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="MavenPro_TYSS.SDET.Vtiger_MyCampaigns_TestScripts.TestCase_11_MassEditForMandatoryFields"/>
       <class name="MavenPro_TYSS.SDET.Vtiger_MyCampaigns_TestScripts.TestCase_12_MEDispOldData"/>
      <class name="MavenPro_TYSS.SDET.Vtiger_MyCampaigns_TestScripts.TestCase_13_WorldClockPopUP"/>
       <class name="MavenPro_TYSS.SDET.Vtiger_MyCampaigns_TestScripts.TestCase_14_AdvancedSearchForFirstDpDn"/>
      <class name="MavenPro_TYSS.SDET.Vtiger_MyCampaigns_TestScripts.TestCase_15_AdvancedSearchForSecondDpDn"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
